.overlayOne {
   position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  overflow: hidden;
}

.formWrapperOne {
 
position: relative;
  background-color: #84a7a5;
  border-radius: 16px;
  padding: 16px 26px; 
  max-width: 100%;
  width: 340px;
  height: auto;
  max-height: 90vh;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  /* overflow-y: auto; */
  position: relative;
}

.closeBtnOne {
  position: absolute;
  top: -9px;
  right: 0px;
  font-size: 34px;
  background: none;
  border: none;
  cursor: pointer;
  font-weight: 100;
  z-index: 10000;
}



.heading {
  margin-bottom: 8px;
  font-size: 16px;
  border-bottom: 1px solid black;
  padding-bottom: 4px;
  line-height: 1.2;
}

.formOne {
  display: flex;
  flex-direction: column;
  gap: 6px;
  line-height: 1;
}

.inputOne,
.selectOne {
  padding: 6px 8px;
  border-radius: 6px;
  border: 1px solid #ccc;
  background: transparent;
  font-size: 13px;
  height: 32px;
  line-height: 1;
}
.inputOne{
  margin-top: 0px;
  margin-bottom: 0px;
}

.phoneWrapper {
  display: flex;
  align-items: center;
  gap: 5px;
}

.countryCode {
  background-color: #84a7a5;
  padding: 6px 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 13px;
  height: 32px;
  display: flex;
  align-items: center;
}

.checkboxWrapperOne {
  display: flex;
  gap: 0.4rem;
  align-items: flex-start;
  font-size: 0.7rem;
  line-height: 1.3;
}

.checkboxWrapperOne input {
  width: 0.8rem;
  height: 0.8rem;
  margin-top: 0.2rem;
  flex-shrink: 0;
}

.submitBtn {
  background-color: #ff5e3a;
  color: white;
  border: none;
  padding: 8px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  margin-top: 4px;
}

@media (max-width: 700px) {
  .closeBtnOne {
    position: absolute;
    font-size: 30px;
    text-align: right;
  }
}
